{
  "ALGORITHM": "aes-256-cbc",
  "APP_EXPOSE_PORT": "3088",
  "CREDENTIALS_CODE_TTL": "360",
  "DATABASE_URL": "postgresql://postgres:Bao123456.@localhost:5433/social-auth?schema=public",
  "ENCRYPT_KEY": "95f01280fd9247d1a61592cb9dfd1554",
  "ENCRYPT_SALT": "aefc1314c083ba78a33f5061733241a3",
  "FACEBOOK_ACCESS_TOKEN_ENDPOINT": "https://graph.facebook.com/v15.0/oauth/access_token",
  "FACEBOOK_AUTH_TOKEN_ENDPOINT": "https://www.facebook.com/v15.0/dialog/oauth",
  "FACEBOOK_CALLBACK_URL": "http://localhost:3000/authentication/facebook/pkce/callback",
  "FACEBOOK_CLIENT_ID": "720560962761924",
  "FACEBOOK_CLIENT_SECRET": "ce558b2684123a875df565f719fda88a",
  "FACEBOOK_SCOPE": "id,name,email",
  "FE_FORGOT_PASS_LINK": "https://auth-service.savvycom.xyz/auth/reset-password",
  "FE_SOCIAL_LOGIN_REDIRECT": "http://localhost:3000/login-link",
  "FORGOT_TOKEN_TTL": "60",
  "GITHUB_CALLBACK_URL": "http://localhost:3000/authentication/github/pkce/callback",
  "GITHUB_CLIENT_ID": "ab9d7f54dd9955aa4003",
  "GITHUB_SECRET_KEY": "34101f41dddfaa1470087fa58bb29903f08e4767",
  "GOOGLE_ACCESS_TOKEN_ENDPOINT": "https://oauth2.googleapis.com/token",
  "GOOGLE_AUTH_TOKEN_ENDPOINT": "https://accounts.google.com/o/oauth2/v2/auth",
  "GOOGLE_CALLBACK_URL": "http://localhost:3000/authentication/google/pkce/callback",
  "GOOGLE_CLIENT_ID": "333794134738-c4olvdpl3vf5ita97gf149hie4aif2lt.apps.googleusercontent.com",
  "GOOGLE_CLIENT_SECRET": "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",
  "GOOGLE_SCOPE": "profile email openid",
  "JWT_ACCESS_TOKEN_TTL": "3600",
  "JWT_REFRESH_TOKEN_TTL": "86400",
  "JWT_SECRET": "cbb726ac74af2cc3f155415b6fb26454e341fdf1576d35d426cc285508fbb0fed58f23bd8150d142c92c9a39880e4a785616f9b3bf4b2645810ca6c0fb113673",
  "JWT_TOKEN_AUDIENCE": "localhost:3000",
  "JWT_TOKEN_ISSUER": "localhost:3000",
  "RECAPTCHA_SECRET": "6LcA470kAAAAAFaOCVwg5NdXHLtefmCvJiQJrABs",
  "REDIS_HOST": "localhost",
  "REDIS_PORT": "6379",
  "TFA_APP_NAME": "aut-extension"
}
